<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <!-- FAVICON -->
  <link rel="shortcut icon"
    href="https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1574928333/Beacon%20Files/favicon%20%2B%20logo/Favicon.png"
    type="image/x-icon">

  <!-- GOOGLE FONT-->
  <link href="https://fonts.googleapis.com/css?family=Lato:900&display=swap" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../stylesheets/materialize.min.css">
</head>