<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">

  <link rel="shortcut icon" type="image/png"
    href="https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1574928333/Beacon%20Files/favicon%20%2B%20logo/Favicon.png">
</head>