<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="../javascripts/materialize.min.js"></script>
<script src="../javascripts/index.js"></script>

</body>

</html>