<!-- LOADER -->
<!-- <script>
      // When all element are loaded, we remove the loader
      $(window).on("load", function() {
      $('body').addClass('loaded');
      });
      </script> -->

<!-- JS Source File -->

<script src="index.js"></script>

</body>

</html>