<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png"
    href="https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1574928333/Beacon%20Files/favicon%20%2B%20logo/Favicon.png">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/loader.css">
  <link rel="stylesheet" href="stylesheets/svg.css">
  <!-- Ionicons -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap" rel="stylesheet">
  <!-- AOS -->
  <link rel="stylesheet" href="aos/dist/aos.css">
  <script src="aos/dist/aos.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>BEACON BY SIES</title>
</head>